<html>
<head>
<title>Button</title>
               <style>
               #test_btn1{
                   border-top-left-radius: 5px;
                   border-bottom-left-radius: 5px;
                   margin-right:-4px;
               }
#test_btn2{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left:-3px;
}
#btn_group button{
    border: 1px solid skyblue;
    background-color: rgba(0,0,0,0);
    color: skyblue;
    padding: 5px;
}
#btn_group button:hover{
    color:white;
    background-color: skyblue;
}
</style>
  </head>
    <body>
    <div id="btn_group">
                       <button id="test_btn1">login</button>
                                                     <button id="test_btn2">sing up</button>
                                                                                     </div>
                                                                                       </body>
                                                                                         </html>


